* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  text-align: center;
}

.image img {
  max-width: 90%;
}

.info {
  margin-top: 1.5rem;
}

.number {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 14px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.name {
  margin: 1rem 0 0.5rem;
  letter-spacing: 1.5px;
}
